!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en"}
  %head
    %title INSERT TITLE!!!
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'envision'
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'application'
    = yield(:head)

  %body{:id => "#{params[:controller]} #{params[:action]}"}
    #wrap
      #header
        %h1#logo-text= link_to "Logo", root_url
        %p#slogan Site slogan goes here...
        #header-links
          %ul
            - anonymous_only do
              %li= link_to "Login", login_path
            - authenticated_only do
              %li= link_to h(current_user.email), user_path(current_user)
              %li= link_to "Logout", logout_path
            %li= link_to "Help", "#", :class => 'highlight'
      #menu
        %ul
          %li= menu_link_to "Home", root_url
          - admin_only do
            %li= menu_link_to "Manage Users", users_path
      #content-wrap
        #sidebar
          = yield :sidebar
        #main
          = render_flash
          = yield :main
      #footer
        %p
          &copy; 2010 <a href="http://bobnadler.com">Bob Nadler, Jr.</a>&nbsp;|&nbsp;Based on design by <a href="http://www.styleshout.com">styleshout</a>
