- content_for(:sidebar) do
  %ul.sidemenu
    %li= link_to 'Create New User', new_user_path

- content_for(:main) do
  %table
    %thead
      %th
      %th Email Address
      %th Admin?
      %th
    %tbody
      - if !@users.blank?
        - for user in @users
          %tr{:id => "user_#{user.id}"}
            %td= link_to 'Edit', edit_user_path(user)
            %td= link_to h(user.email), user
            %td= user.admin? ? 'Yes' : 'No'
            %td= link_to "Delete", user_path(user), :method => :delete
      - else
        %tr
          %td No data to display.
